@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=JetBrains+Mono:wght@200&family=Open+Sans&family=Poppins:wght@400&family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.main {
  width: 100%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-bottom: 3px solid rgb(0, 177, 177);
}

.container {
  max-width: 100%;
  height: auto;
  display: flex;
  background: rgb(248, 248, 248);
  list-style-type: none;
}

.menu {
  width: 100%;
  overflow: hidden;
  height: auto;
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  list-style-type: none;
  padding: 20px;
}
.menu li {
  color: white;
  transition: 0.8s;
  margin-right: 48px;
  margin-top: 3px;
}
.menu li a {
  color: rgb(19, 19, 19);
  text-decoration: none;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  transition: 1s;
}
.menu li a:hover {
  color: rgb(0, 177, 177);
}

.bar {
  color: black;
  display: none;
}
@media screen and (max-width: 850px) {
  .main {
    width: 100%;
    height: auto;
  }
  .container {
    width: 100%;
    height: auto;
    padding: 20px;
  }
  .menubar {
    padding-bottom: 26px;
  }

  .bar {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 0;
    margin-right: 25px;
    transition: 2s;
  }
  .menu {
    display: none;
  }
  .menu li a {
    text-decoration: none;
  }

  .menulink {
    width: 100%;
    height: auto;
  }
  .menulink li {
    margin-top: 25px;
  }
  .menulink li a {
    color: rgb(19, 19, 19);
    text-decoration: none;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
  }
}
